@charset "utf-8";
html.with-featherlight {
  overflow: hidden;
}
.featherlight {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #333;
  background: transparent;
}
.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}
.featherlight:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 25px 25px 0;
  border-bottom: 25px solid transparent;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  background: #fff;
  cursor: auto;
  white-space: normal;
}
.featherlight .featherlight-inner {
  display: block;
}
.featherlight link.featherlight-inner,
.featherlight script.featherlight-inner,
.featherlight style.featherlight-inner {
  display: none;
}
.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: 0;
  padding: 0;
}
.featherlight .featherlight-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.featherlight .featherlight-image {
  width: 100%;
}
.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
.featherlight iframe {
  border: 0;
}
.featherlight * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
@media print {
  html.with-featherlight > * > :not(.featherlight) {
    display: none;
  }
}
.featherlight-content {
  border: 4px solid red !important;
  padding-bottom: 15px !important;
  max-width: 650px;
  border-radius: 10px;
}
.featherlight-close-icon {
  font-weight: 700;
  font-family: roboto condensed, sans-serif;
  font-size: 20px;
}
<!--used in popup -- > .head85 {
  font-size: 2.24rem;
}
.head56 {
  font-size: 1.47rem;
}
.text-center {
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix:after {
  clear: both;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.w-90 {
  width: 90%;
}
.big-button-text {
  font-size: 1.125rem;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-cyan {
  color: #3a888e;
}
.container-limit {
  max-width: 1000px !important;
}
a.color-black {
  color: #000;
}
a.color-black:link {
  color: #000;
}
a.color-black:active {
  color: #000;
}
a.color-black:visited {
  color: #000;
}
a.color-black:hover {
  color: #000;
}
.container-full {
  max-width: 100% !important;
  width: auto !important;
  padding: 0 !important;
}
.change-container {
  padding: 20px 30px 30px;
  margin: 0 auto !important;
}
.black-background-vid {
  background: #000 !important;
}
.video-wrapper-desktop {
  max-height: 100vh;
  max-width: 177.77vh;
  margin: auto;
  min-width: 272px;
  min-height: 153px;
}
.video-wrapper-mobile {
  max-height: 100vh;
  max-width: 62.5vh;
  margin: auto;
  min-width: 175px;
  min-height: 280px;
}
.vid-wrapper {
  height: 100% !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}
.vid-padding {
  position: relative !important;
  z-index: 10 !important;
}
.vid-padding-mobile {
  padding: 160% 0 0 !important;
}
.vid-padding-desktop {
  padding: 56.25% 0 0 !important;
}
.vid-embed {
  height: 100% !important;
  position: relative !important;
  width: 100% !important;
}
.video-border {
  -webkit-box-shadow: 0 6px 19px -4px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 0 6px 19px -4px rgba(0, 0, 0, 0.98);
  box-shadow: 0 6px 19px -4px rgba(0, 0, 0, 0.98);
  position: relative;
  border: 3px solid #fff;
}
.preventControl {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99999;
}
.button-continue,
.button-unmute {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 25;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.yellow-button {
  background: #fffd00;
  border: 3px solid #00f;
  color: #00f;
  display: block;
  margin: 0 auto;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.yellow-button:active,
.yellow-button:hover {
  background-color: #d7ffe6;
  color: #00f;
  border: 3px solid #00f;
}
.loading-video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 5;
  background-color: #000;
}
.loading-video-inner {
  background: url(../../images/loading-video.gif) no-repeat center center;
  background-size: contain;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.button-unmute-mobile {
  background-image: url(../images/sound.png);
}
.button-unmute-pc {
  background-image: url(../images/sound-pc.png) !important;
}
.button-continue-mobile {
  background-image: url(../images/video.png);
}
.button-continue-pc {
  background-image: url(../images/video-pc.png) !important;
}
.pulsing {
  transform: scale(1);
  animation: pulsing 1s infinite;
}
@keyframes pulsing {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.034);
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
  }
}
#cbBadge {
  position: absolute;
  z-index: 50;
}
.topCBblock {
  height: 26px;
  background: #fff;
}
@media (max-width: 480px) {
  .topCBblock {
    display: none !important;
  }
}
.borderSolid.border3px {
  border-width: 3px;
  border-style: solid;
}
.bgCover {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: repeat repeat !important;
  background-position: center center;
}
.radius0 {
  border-radius: 0;
}
.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.is-paddingless {
  padding: 0 !important;
}
.is-marginless {
  margin: 0 !important;
}
.is-hidden {
  display: none !important;
}
@charset "utf-8";
.sec31 {
  padding: 0 0 50px 0;
}
.bdhding1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}
.s23bx {
  margin: 30px 0 0 0;
  background: #fff;
  border: 2px solid #23834e;
  border-radius: 12px;
}
.s23bxhd {
  background: #23834e;
  padding: 20px 20px 6px 20px;
  border-radius: 12px 12px 0 0;
}
.s23bxhd p {
  color: #fff;
  font-family: Lora, sans-serif;
}
.s23bxarw {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: 100%;
}
.s23bxbtm {
  padding: 30px 30px 30px 30px;
}
.s23prd {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: 100%;
}
ul.s23bxlist {
  padding: 15px 0 0 0;
  width: 88%;
  margin: 0 auto;
  display: table;
}
ul.s23bxlist li {
  float: left;
  display: inline-block;
  width: 33.33%;
  background: #5590d8;
  padding: 10px 20px 10px 98px;
  position: relative;
}
ul.s23bxlist li:first-child {
  background: #8d5cc7;
  border-radius: 14px 0 0 14px;
}
ul.s23bxlist li:last-child {
  background: #249e24;
  border-radius: 0 14px 14px 0;
}
ul.s23bxlist li p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  font-family: Poppins, sans-serif;
}
ul.s23bxlist li img {
  position: absolute;
  left: 30px;
  top: 10px;
}
ul.s23bxlist li:nth-child(2) img {
  left: 37px;
}
.s23bx-prcbx {
  margin: 20px auto 0 auto;
  width: 334px;
  display: block;
  position: relative;
}
.s23bxtxt {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
    .s23bxprc {
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;
  color: #1b2b61;
  text-align: center;
  margin-top: 4px;
}
.s23bx-lftarw,
.s23bx-rgtarw {
  position: absolute;
  top: 18px;
}
.s23bx-lftarw {
  left: 0;
}
.s23bx-rgtarw {
  right: 0;
}
.s23btn {
  margin: 15px auto 0 auto;
  display: block;
  max-width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .bdhding1 {
    font-size: 36px;
    line-height: 46px;
  }
  .s23bxbtm {
    padding: 0 20px 35px 20px;
  }
  ul.s23bxlist {
    width: 100%;
  }
  ul.s23bxlist li {
    padding: 10px 20px 10px 88px;
  }
  ul.s23bxlist li p {
    font-size: 22px;
    line-height: 28px;
  }
  ul.s23bxlist li img {
    left: 20px;
  }
  ul.s23bxlist li:nth-child(2) img {
    left: 27px;
  }
}
@media only screen and (max-width: 767px) {
  .bdhding1 {
    font-size: 32px;
    line-height: 42px;
  }
  .sec31 {
    padding: 0 0 40px 0;
  }
  .sec23 {
    padding: 35px 0 40px 0;
  }
  .s23subhd {
    margin: 26px 0 0 0;
    padding: 8px 0 10px 0;
  }
  .s23bxhd {
    padding: 6px 10px 0 10px;
  }
  .s23bxhd p {
    font-size: 30px;
    line-height: 40px;
  }
  .s23bxbtm {
    padding: 0 15px 20px 15px;
  }
  .s23prd {
    margin: 10px auto 0 auto;
  }
  ul.s23bxlist li {
    padding: 10px 10px 10px 48px;
  }
  ul.s23bxlist li img {
    height: 35px;
    left: 10px;
    top: 15px;
  }
  ul.s23bxlist li:nth-child(2) img {
    left: 14px;
    top: 15px;
  }
  ul.s23bxlist li p {
    font-size: 15px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 479px) {
  .bdhding1 {
    font-size: 20px;
    line-height: 40px;
  }
  .s23bxhd p {
    font-size: 24px;
    line-height: 30px;
  }
  ul.s23bxlist li {
    padding: 7px 10px 10px 10px;
  }
  ul.s23bxlist li img,
  ul.s23bxlist li:nth-child(2) span {
    display: none;
  }
  ul.s23bxlist li p {
    text-align: center;
  }
  .s23bx-prcbx {
    width: 260px;
  }
  .s23bxtxt {
    font-size: 20px;
    line-height: 28px;
  }
  .s23bxprc {
    font-size: 54px;
    line-height: 54px;
  }
  .s23bx-lftarw,
  .s23bx-rgtarw {
    width: 64px;
  }
}
@media only screen and (max-width: 389px) {
  .bdhding1 {
    font-size: 20px;
    line-height: 36px;
  }
  .s23bxbtm {
    padding: 0 10px 20px 10px;
  }
  ul.s23bxlist li {
    padding: 7px 5px 10px 5px;
  }
}
@media only screen and (max-width: 359px) {
  .bdhding1 {
    font-size: 26px;
    line-height: 34px;
  }
  ul.s23bxlist li p {
    font-size: 14px;
    line-height: 20px;
  }
}
.css-sprite-s23bx-icon1 {
  background: url(../images/css-sprite-combined.png) 0 -36px;
  width: 54px;
  height: 57px;
  display: inline-block;
}
.css-sprite-s23bx-icon2 {
  background: url(../images/css-sprite-combined.png) -54px -36px;
  width: 42px;
  height: 57px;
  display: inline-block;
}
.css-sprite-s23bx-icon3 {
  background: url(../images/css-sprite-combined.png) -96px -36px;
  width: 54px;
  height: 57px;
  display: inline-block;
}
.css-sprite-lftarw {
  background: url(../images/css-sprite-combined.png) -150px 0;
  width: 92px;
  height: 93px;
  display: inline-block;
}
.css-sprite-rgtarw {
  background: url(../images/css-sprite-combined.png) -242px 0;
  width: 92px;
  height: 93px;
  display: inline-block;
}
ul.s23bxlist li span {
  position: absolute;
  left: 30px;
  top: 10px;
}
ul.s23bxlist li:nth-child(2) span {
  left: 37px;
}
@media only screen and (max-width: 1000px) {
  ul.s23bxlist li span {
    left: 20px;
  }
  ul.s23bxlist li:nth-child(2) span {
    left: 27px;
  }
}
@media only screen and (max-width: 767px) {
  ul.s23bxlist li span {
    height: 20px;
    left: 10px;
    top: 15px;
  }
  ul.s23bxlist li:nth-child(2) span {
    left: 14px;
    top: 15px;
  }
  .css-sprite-s23bx-icon1 {
    background: url(../images/css-sprite-combined.2.png) 0 0;
    width: 33px;
  }
  .css-sprite-s23bx-icon2 {
    background: url(../images/css-sprite-combined.2.png) -33px 0;
    width: 26px;
  }
  .css-sprite-s23bx-icon3 {
    background: url(../images/css-sprite-combined.2.png) -59px 0;
    width: 33px;
  }
}
.is-hidden .css-sprite-s23bx-icon1,
.is-hidden .css-sprite-s23bx-icon2,
.is-hidden .css-sprite-s23bx-icon3 {
  background: none;
}
.sec31 {
    display: none;
}